.main-nav {
  .wrap();
  padding-bottom: 60px;
}
.main-nav__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
}
.main-nav__list li {
  flex-grow: 1;
}
.main-nav__list a:hover {
  background-color: red;
}
.main-nav__list li:first-child a {
  padding-left: 52px;
}
.main-nav__list li:last-child a {
  padding-right: 43px;
}