.main-nav {
  .wrap();
  padding-bottom: 60px;
  display: flex;
}
.main-nav a {

  &:first-child {
    padding-left: 44px;
  }
  &:last-child {
    padding-right: 43px;
  }
}
.main-nav__btn {
  flex-grow: 1;
  padding: 0 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 56px;
  font-size: 17px;
  color: #ffffff;
  border-bottom: 5px solid #293449;
  background-color: #32425c;
  text-align: center;
  text-decoration: none;
  overflow: hidden;

  &:hover {
    background-color: #293449;
  }
  &:active {
    background-color: #1d2739;
    border-color: #1d2739;
    color: fade(#ffffff, 50%);
  }
}