.middle-header {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 29px;
}
.middle-header__title {
  width: 200px;
  margin-top: 3px;
  padding-left: 52px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}
.middle-header__contacts {
  width: 300px;
}
.middle-header__contacts a {
  display: block;
  width: 249px;
  margin-left: 23px;
  padding: 8px 7px;
  border: 3px solid #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
}
.middle-header__user-block {
  width: 300px;
  text-align: right;
}
.middle-header__tel {
  margin-bottom: 4px;
}
.middle-header__address {
  display: block;
  margin-left: 33px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.middle-header__tel i {
  font-size: 22px;
  padding-right: 33px;
}