.middle-header {
  .wrap();
  display: flex;
  justify-content: space-between;
  flex-wrap: 1;
  margin-bottom: 29px;
}
.middle-header__title {
  flex-shrink: 0;
  flex-basis: 200px;
  margin-top: 3px;
  padding-left: 52px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.middle-header__contacts {
  flex-basis: 300px;
  flex-shrink: 0;
}
.middle-header__contacts a {
  display: block;
  width: 249px;
  margin-left: 23px;
  padding: 8px 7px;
  border: 3px solid #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
}
.middle-header__user-block {
  display: flex;
  flex-basis: 300px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.middle-header__user-block a {
  margin-left: 10px;
  margin-bottom: 10px;
}
.middle-header__tel {
  margin-bottom: 4px;
}
.middle-header__address {
  display: block;
  margin-left: 33px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.middle-header__user-block i {
  color: #c5c5c5;
}
.middle-header__tel i {
  font-size: 22px;
  padding-right: 35px;

}