.top-header {
  margin-bottom: 47px;
  background-color: #293449;
}
.top-header__wrap {
  .wrap();
  display: flex;
  justify-content: space-between;
  min-height: 42px;
}
.top-header__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}
.top-header__item a {
  display: flex;
  padding-right: 22px;
  padding-left: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 42px;
  text-decoration: none;
  background-color: #293449;
  white-space: nowrap;

  &:hover i {
    color: #ffffff;
  }
  &:active {
    background-color: #161d29;
  }
  &:active i {
    color: fade(#ffffff, 50%);
  }
}
.top-header__item--search {
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;

  &:hover i {
    color: #ffffff;
  }
}
.top-header__item--search input {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  flex-grow: 1;
}
.top-header__item--search input:focus,
.top-header__item--search input:focus + label {
  color: #000000;
  background-color: #ffffff;
  cursor: text;
}
.top-header__item--search input:focus + label i {
  color: #ee3643;
}
.top-header__item--search label {
  order: -1;
  padding-left: 15px;
  font-size: 17px;
  line-height: 42px;
  color: #ffffff;
}
.top-header__item i {
  padding-right: 10px;
  color: fade(#ffffff, 30%);
}
.top-header__item--order a {
  padding-left: 20px;
  background-color: #63a63e;

  &:hover {
    background-color: #5fbb2d;
  }
  &:active {
    background-color: #518534;
    color: fade(#ffffff, 50%);
  }
}
.top-header__item--basket a {
  padding-right: 32px;
}
.top-header__item--basket i {
  padding-right: 12px;
}
.top-header__item--bookmark a {
  padding-right: 27px;
}
.top-header__item--bookmark i {
  padding-right: 8px;
}
.top-header__item--active a {
  background-color: #ee3643;
  padding-right: 25px;
  padding-left: 13px;
}
::-moz-placeholder {opacity: 1;}
:-moz-placeholder {opacity: 1;}