body {
	font-family: "PTSans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	min-width: 960px;
}
h1 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: normal;
	font-style: normal;
}
/* h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
} */