.about {
  .wrap();
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  margin-bottom: 85px;
}
 .about__company {
  display: flex;
  flex-direction: column;
  width: 540px;
}
.about__contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.about h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.about p {
  margin-bottom: 11px;
}
.about__custom-list {
  .list-reset();
  margin-bottom: auto;
}
.about__custom-list li {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
  }
}
.about__contacts-map {
  width: 300px;
  height: 158px;
  margin-top: 20px;
  margin-bottom: auto;
}
