.btn {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 24px;
  background-color: red;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}
.btn--login {
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 27px;
}
.btn--login i {
  padding-right: 8px;
}
.btn--reg {
  margin-left: 5px;
  padding: 10px 25px;
}