.btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #ee3643;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #ca2c37;
  }
  &:active {
    background-color: #ba2732;
  }
}
.btn--promo-nav {
  width: 135px;
  padding: 0 15px;
  background-color: rgba(0,0,0,.1);

  &:hover {
    background-color: rgba(0,0,0,.2);
  }
  &:active {
    background-color: rgba(0,0,0,.3);
  }
}
.btn--promo-slider {
  width: 195px;
  z-index: 95;
}
.btn--item-buy {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px #367315;

  & i {
    position: absolute;
    left: 0;
    padding-left: 9px;
    padding-right: 12px;
    font-size: 17px;
    color: fade(#ffffff, 30%);
  }
  &:hover {
    background-color: #5fbb2d;
  }
  &:hover i {
    color: #ffffff;
  }
  &:active {
    background-color: #518534;
    box-shadow: none;
  }
}
.btn--item-bookmark {
  color: #32425c;
  line-height: 36px;
  background-color: white;
  box-shadow: inset 0px 0px 0px 3px #63a63e;

  &:hover {
    background-color: white;
    color: #32425c;
    box-shadow: inset 0px 0px 0px 3px #32425c;
  }
  &:active {
    background-color: white;
    color: fade(#32425c, 30%);
    box-shadow: inset 0px 0px 0px 3px fade(#32425c, 30%);
  }
}
.btn--popular {
  min-width: 253px;
}
.btn--service-slider {
  width: 195px;
}
.btn--about {
  width: 220px;

  &-contact {
    width: 100%;
  }
}
.btn--social {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #212a3a;

  & i {
    position: absolute;
    left: 8px;
    top: 3px;
  }
}
.btn--close-popup {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: url("../img/icon-cross.png");

  &:hover {
    background-color: transparent;
  }
}
.btn--submit-popup {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
}