.filter-range {
  display: flex;
  flex-direction: column;
}
.filter-range__title {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-range__layout {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
}
.filter-range__scale {
  position: absolute;
  top: 49%;
  width: 180px;
  left: 20px;
  height: 2px;
  background-color: #d7dcde;
}
.filter-range__bar {
  position: absolute;
  height: 2px;
  background-color: #00ca74;
}
.filter-range__toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 0px 0px rgba(0,0,0,.14);
  cursor: pointer;
  z-index: 10;

  &--min {
    left: 0px;
  }
  &--max {
    left: 78%;
  }
  &:active {
    box-shadow: none;
  }
}
.filter-range__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.filter-range__input input {
  width: 95px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "PTSans", "Arial", sans-serif;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #f7f3ec;
}
.filter-range__input span {
  line-height: 38px;
}