.page-title {
  .wrap();
  margin-bottom: 19px;
}
.page-title h1 {
  margin: 0;
  padding-top: 26px;
  padding-left: 28px;
  padding-bottom: 27px;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}