.paginator {
  font-size: 0;
  margin-bottom: 0px;
}
.paginator__list {
  .list-reset();
}
.paginator__item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
}
.paginator__item--active a {
  background-color: #ffffff;
}
.paginator__item--next-page a {
  width: auto;
  padding: 0 32px;
  height: 38px;
}
.btn--paginator {
  min-width: 8px;
  height: 38px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 38px;
  text-align: center;
  color: black;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    box-shadow: none;
  }
  &:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
  }
}