.promo-nav {
  .wrap();
  margin-top: 57px;
  margin-bottom: 53px;
}
.promo-nav__wrap {
  width: 940px;
  // display: flex;
  // justify-content: space-between;
  // align-content: space-between;
  // flex-wrap: wrap;
  // min-height: 409px;
}
.promo-nav__group {
  display: flex;
  justify-content: space-between;

  &:first-child {
    width: 100%;
    flex-direction: row;
  }
  &:last-child {
    flex-direction: column;
  }
}
.promo-nav__item {
  display: inline-block;
  position: relative;
  width: 256px;
  height: 81px;
  padding: 21px 22px;

  &--materials {
    background: url("../img/icon-material.png") no-repeat 212px 31px,
                #f6b22d;
  }
  &--instruments {
    background: url("../img/icon-instrument.png") no-repeat 196px 33px,
                #4aafde;
  }
  &--technics {
    background: url("../img/icon-technic.png") no-repeat 190px 31px,
                #cc79d1;
  }
  &--discount {
    background: url("../img/icon-discount.png") no-repeat 195px 26px,
                #85d179;
  }
  &--delivery {
    background: url("../img/icon-delivery.png") no-repeat 190px 32px,
                #f6b22d;
  }
  &--new {
    &::before {
      content: "";
      position: absolute;
      top: -19px;
      right: -32px;
      width: 30px;
      height: 30px;
      border-bottom: 27px solid #ee3643;
      border-left: 27px solid transparent;
      border-right: 27px solid transparent;
      transform: rotate(45deg);
      z-index: 90;
    }
    &::after {
      content: "new";
      position: absolute;
      top: 7px;
      right: 8px;
      color: #ffffff;
      transform: rotate(45deg);
      z-index: 90;
    }
  }
}
.promo-nav__item h3 {
  max-height: 32px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  overflow: hidden;
}
.promo-nav__slider {
  position: relative;
  float: left;

  //display: inline-block;
  // display: flex;
  // justify-content: space-between;
  // flex-basis: 620px;
  height: 266px;
}
.promo-nav__slider input[type="radio"] {
  display: none;
}
.promo-nav__slider label {
  display: none;
  position: relative;
  padding-top: 110px;
  border: 10px solid red;
  font-size: 45px;
  color: #ffffff;
  z-index: 90;
  cursor: pointer;
}
.promo-nav__slider label[for="perf"],
.promo-nav__slider label[for="drill"] {
  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 37px;
    width: 10px;
    height: 10px;
    left: 295px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 95;
  }
}
.promo-nav__slider label[for="drill"] {
  &::before {
    left: 315px;
  }
}
input[id="perf"]:checked ~ label[for="perf"],
input[id="drill"]:checked ~ label[for="drill"] {
  &::before {
    width: 6px;
    height: 6px;
    background-color: red;
    border: 2px solid #ffffff;
    z-index: 95;
  }
}
.promo-nav__slider .icon-left {
  margin-left: 4px;
}
.promo-nav__slide {
  display: none;
  position: absolute;
  width: 574px;
  height: 222px;
  padding: 22px 23px;

  &--perf {
    background: url("../img/slider1.jpg") no-repeat;
  }
  &--drill {
    background: url("../img/slider2.jpg") no-repeat;
  }
}
.promo-nav__slide h3 {
  width: 574px;
  max-height: 38px;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 38px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  overflow: hidden;
}
.promo-nav__slide span {
  width: 574px;
  max-height: 46px;
  margin-bottom: auto;
  font-size: 18px;
  color: #ffffff;
  overflow: hidden;
}
input[id="perf"]:checked ~ .promo-nav__slide--perf,
input[id="drill"]:checked ~ .promo-nav__slide--drill {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}
