.promo-nav {
  .wrap();
  margin-bottom: 53px;
}
.promo-nav__wrap {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 409px;
}
.promo-nav__group {
  display: flex;
  justify-content: space-between;

  &:first-child {
    width: 100%;
    flex-direction: row;
  }
  &:last-child {
    flex-direction: column;
  }
}
.promo-nav__item {
  width: 256px;
  height: 81px;
  padding: 21px 22px;

  &--materials {
    background: url("../../img/icon-material.png") no-repeat 212px 31px,
                #f6b22d;
  }
  &--instruments {
    background: url("../../img/icon-instrument.png") no-repeat 196px 33px,
                #4aafde;
  }
  &--technics {
    background: url("../../img/icon-technic.png") no-repeat 190px 31px,
                #cc79d1;
  }
  &--discount {
    background: url("../../img/icon-discount.png") no-repeat 195px 26px,
                #85d179;
  }
  &--delivery {
    background: url("../../img/icon-delivery.png") no-repeat 190px 32px,
                #f6b22d;
  }
}
.promo-nav__item h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}
.promo-nav__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-basis: 620px;
  height: 266px;
}
.promo-nav__slider input[type="radio"] {
  display: none;
}
.promo-nav__slider label {
  font-size: 45px;
  cursor: pointer;
  padding-top: 110px;
  color: #ffffff;
  z-index: 90;
}
.promo-nav__slider .icon-left {
  margin-left: 4px;
}
.promo-nav__slide {
  display: none;
  position: absolute;
  width: 574px;
  height: 222px;
  padding: 22px 23px;

  &--perf {
    background: url("../../img/slider1.jpg") no-repeat;
  }
  &--drill {
    background: url("../../img/slider2.jpg") no-repeat;
  }
}
.promo-nav__slide h3 {
  width: 574px;
  max-height: 38px;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 38px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  overflow: hidden;
}
.promo-nav__slide span {
  width: 574px;
  max-height: 46px;
  margin-bottom: auto;
  font-size: 18px;
  color: #ffffff;
  overflow: hidden;
}
input[id="perf"]:checked ~ .promo-nav__slide--perf,
input[id="drill"]:checked ~ .promo-nav__slide--drill {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}